.pagination {
    display: flex;
    padding-left: 45%;
  
  }
  .pagination__page{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 3px;
    cursor: pointer;
  }
  .pagination__page:first-child{
      font-size: 30px;
      padding-bottom: 8px;
  }
  .pagination__page:last-child{
    border-right: none;
    font-size: 30px;
}
