.container-head{
    border: 1px solid black;
    width: 100%;
    height: 70px;
}
#Btn{
    margin-right: 70vw !important;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background-color:yellow;
}
input{
    height: 40px;  
    cursor: pointer; 
    background-color: yellow;
}