.container{
  display: flex;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 2);
}
.handle-head{
  background-color: green;
}
.container-display{
  display: flex;
}
.handle-sidebar{
  border-right: 1px solid black;
  width: 12%;
  background-color: orangered;
}
.handle-card{
  margin: 10px;
}
.footer{
  margin-bottom: 3px;
}