.container{
  display: flex;
  margin-bottom: 10px;
}
.handle-head{
  background-color: rgb(140, 56, 56);
}
.container-display{
  display: flex;
}
.handle-sidebar{
  border-right: 1px solid black;
  width: 10%;
  background-color: rgb(222, 148, 10);
}
.handle-card{
  margin: 10px;
}